<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "cn.bptop.metering.dao.MeteringMapper">
	<resultMap id = "DDeviceMap" type = "cn.bptop.device.pojo.DDevice">
		<result column = "d_device_id" jdbcType = "INTEGER" property = "dDeviceId"/>
		<result column = "d_device_name" jdbcType = "INTEGER" property = "dDeviceName"/>
		<result column = "d_device_cid" jdbcType = "INTEGER" property = "dDeviceCid"/>
		<result column = "d_device_type" jdbcType = "INTEGER" property = "dDeviceType"/>
		<result column = "d_production_time" jdbcType = "INTEGER" property = "dProductionTime"/>
		<result column = "d_test_time" jdbcType = "INTEGER" property = "dTestTime"/>
		<result column = "d_manufacturer" jdbcType = "INTEGER" property = "dManufacturer"/>
		<result column = "d_plant" jdbcType = "INTEGER" property = "dPlant"/>
		<result column = "d_site" jdbcType = "INTEGER" property = "dSite"/>
		<result column = "d_space" jdbcType = "INTEGER" property = "dSpace"/>
		<result column = "d_status" jdbcType = "INTEGER" property = "dStatus"/>
		<result column = "d_pic" jdbcType = "INTEGER" property = "dPic"/>
		<result column = "d_pic_id" jdbcType = "INTEGER" property = "dPicId"/>
		<result column = "d_note" jdbcType = "INTEGER" property = "dNote"/>
		<result column = "d_log" jdbcType = "INTEGER" property = "dLog"/>
		<result column = "d_is_deleted" jdbcType = "INTEGER" property = "dIsDeleted"/>

	</resultMap>

</mapper>