<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "cn.bptop.metering.dao.MeteringMapper">
	<resultMap id = "DUserMap" type = "cn.bptop.device.pojo.DUser">
		<result column = "u_id" jdbcType = "INTEGER" property = "uId"/>
		<result column = "u_user_name" jdbcType = "INTEGER" property = "uUserName"/>
		<result column = "u_user_id" jdbcType = "INTEGER" property = "uUserId"/>
	</resultMap>

</mapper>